.container-fluid{
    background-image: url(/style/img/ocean.eyes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300vh;
}

table{
    font-size: 20px;
    th{
        border: 1px solid;
    }
    td{
        border: 1px solid;
    }
}

button{
    width: 30%;
    font-size: 20px;
    @media screen and (max-width:1200px) {
        width: 51%;
    }
}